{% extends 'base.html.twig' %}
{% block body %}
    {% block aside %}
        {% include '__categorias.html.twig' %}
    {% endblock %}
    {% for noticia in noticias %}
        <div class="container">
        <div class="row">
        <div class="col-form-label">
        <div id="col-red">
            <div><h1>{{ noticia.title }}</h1></div>
            <div><small>{{ noticia.datePublic ? noticia.datePublic|date('Y-m-d H:i:s') : '' }}</small></div>
            <div><span>{{ noticia.summary }}</span></div>
            <div><strong>Escrito por:</strong> <span>{{ noticia.user }}</span></div>
            <div>
                <ion-icon name="paper-plane-outline"><strong><a
                                href="{{ path('noticias_show', {'idNews': noticia.idNews}) }}">Ver
                            contenido</a></strong></ion-icon>
            </div>
            <ion-icon name="create-outline"><span><a href="{{ path('noticias_edit', {'idNews': noticia.idNews}) }}">editar</a></span>
            </ion-icon>
        </div>
    {% endfor %}
    </div>
    </div>
    </div>

    <a href="{{ path('noticias_new') }}">Subir noticia</a>
{% endblock %}
{% block footer %}
{% include '__comentatios.html.twig' %}
{% endblock  %}
