{% extends "base.html.twig" %}
{% block body %}

<br/>
    <div class="container">
        <div class="overlay"></div>
        <div class="row">
            <div class="post-heading">
                <h2>{{ noticia.title }}</h2>
                <p>Escrito por:<strong>{{ noticia.user }} </strong>
                    <p>{{  noticia.datePublic|date('Y-m-d H:i:s')}}</p>
                <p>{{ noticia.content|nl2br }}</p>

            </div>

        </div>
    </div>

    <div class="clearfix"></div>
    <p><a href="{{ path('noticias_index')}}">Pàgina principal</a>
    </p>
    </div>

    <a href="{{ path('noticias_edit', {'idnews': noticia.idnews}) }}">edit</a>

    {{ include('noticias/_delete_form.html.twig') }}
{% endblock %}
