{% extends 'base.html.twig' %}


{% block body %}
    <h1>Categoria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCategoria</th>
                <th>Nomcategoria</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.idCategoria }}</td>
                <td>{{ categorium.nomcategoria }}</td>
                <td>
                    <li><a href="{{ path('categoria_show', {'idCategoria': categorium.idCategoria}) }}">show</a></li>
                    <li><a href="{{ path('categoria_edit', {'idCategoria': categorium.idCategoria}) }}">edit</a></li>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categoria_new') }}">Create new</a>
{% endblock %}
