{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    <h1>Comentario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>NewId</th>
                <td>{{ comentario.newId }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comentario.content }}</td>
            </tr>
            <tr>
                <th>DatePublic</th>
                <td>{{ comentario.datePublic ? comentario.datePublic|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comentario_index') }}">back to list</a>

    <a href="{{ path('comentario_edit', {'idComentario': comentario.idComentario}) }}">edit</a>

    {{ include('comentario/_delete_form.html.twig') }}
{% endblock %}
